@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

@layer components {
  .btn-floating > button{
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: all .175s linear;
  }
  .container-floating{
    visibility: visible;
    height: 100%;
    opacity: 1;
    pointer-events: all;
    transition: all .175s linear;
  }
  .btn-floating.is-hidden > button{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .175s linear;
  }
  .container-floating.is-hidden{
    visibility: hidden;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .175s linear;
  }

  @media(max-width: 767px) {
    .btn-floating, .span-floating{
      font-size: 12px !important;
    }

    .item-floating{
      max-width: 95% !important;
    }

    .item-floating div h1 span {
      text-overflow: ellipsis;
      max-width: 90%;
      overflow: hidden;
      display: block;
      white-space: nowrap;      
    }

    .price-floating{
      grid-column: 4/7 !important;
      margin-right: 10px !important;
    }
  }
}